/*
REGLAS PARA TRABAJAR CON CSS

1.- Primero se definen los estilos para ETIQUETAS html, por ejemplo:  header, footer, div, a, p, etc.

2.- Despuès se definen los estilos para IDENTIFICADORES (id), los id's son elementos unicos en html, en el css se declaran con el simbolo de # ejemplo:  #nombre-id{estilos} y en el html se llaman mediante el atributo id, ejemplo <div id="publicidad"></div>

3.- Al final se definen los estilos para las CLASES (class), las clases son elementos que se pueden repetir 'n' veces en html, en el css se declaran con el simbolo de . ejemplo: .nombre-clase{estilos} y en el html se llaman mediante el atributo class, ejemplo <div class="bode-logos"></div>

4.- Todos los estilos aparecen conforme van apareciendo en la dispocicion del html, teniendo en cuenta la prioridad anterior, es decir, primero etiquetas html, luego id's y al final clases.

5.- los atributos se declaran de la siguiente forma: { atributo1: valor1;atributo2: valor2;....;atributoN: valorN; }

6.- Todos los atributos se ordenan alfabeticamente, por ejemplo si tengo width, color, display, entonce el orden seria: primero color, lego display y al final width.

7.- Si tenemos estilos para el comodin *, o para las etiquetas html y/o body, estos estilos son los primeros en definirse.

8.- En el body debemos declarar un tamaño de fuente global.

9.- Si tenemos estilos para resetear elementos html, estos iran antes de cualquier estilo.

*/

article,figcaption,figure,footer,header,hgroup,nav,section, aside {
	display: block;
}

/* estilos del sitio */


/* 16px = 12pt = 100% = 1em */

body{
	background: #212121;
	font-family: 'Exo 2', sans-serif;
	max-width: 100%;
}

section#principal {
	background: ##FFDEAD; /* color de fondo */
	margin-top: 50px;
	max-width: 100%; /* maximo tamaño para las pantallas */
}

section#slider {
	background: #ffffff;
	height: 400px;
}

section#bienvenida {
	background: #FFDEAD;
	height: 50vh;
	max-width: 100%;
	text-align: center;
}

section#contenedor-ini {
	background: #ffffff;
	height: 245vh;
	max-width: 100%;
	overflow: hidden;
	position: static;
}

h1 {
	color: #c8994d; /* color de letras */
	font-size: 200%;
	text-align: center; /* centra el texto */
}

h2 {
	vertical-align: middle;
}

h3 {
	text-align: left;
}

h4 {
	color: #808080; /* color de letras */
	text-align: center; /* centra el texto */
}

div.detail a {
	color: #ffffff;
}

div.detail a:hover {
	background: #fff;
	color: #c8994d;
}

/*section#map {
	background: #212121;
	max-height: 55vh;
	min-height: 55vh;
	width: 100%;
}*/

section#secundario {
	background: #001100; /* color de fondo */
	border: 1px solid orangered;
	display: inline-block; /* La propiedad display nos permite definir como será mostrado un cierto elemento HTML */
	margin: 0px auto;
	margin-left: 7%; /* margen entre etiquetas */
	height: 200px;
	max-width: 40%; /* maximo tamaño para las pantallas */
	min-width: 40%;
	padding: 0.1%; /* espacio entre el contenido del elemento y su borde */
}

div#mapa {
	background: #cacad0;
	border: 1.5px solid orangered;
	float: right;
	height: 25em;
	margin-right: 10%;
	max-width: 50%;
	padding: 1%;
	vertical-align: top;
}

article#contmap {
	background: #111111;
	border: 1px solid blueviolet;
	height: 50vh;
	padding: 2%;
	margin: 1.5%;
	max-height: 55vh;
	max-width: 99%;
	min-height: 55vh;
}

div#foot {
	background: #000000;
	border-top:1px solid #f88;
	color: #fff;
	font-size:11px;
	text-align:center;
	width: 100%;
}

div#foot a {
	color: #c8994d;
	text-decoration: none;
}

footer {
	background: #000000;
	border-top:1px solid #f88;
	color: #fff;
	display: block;
	font-size:12px;
	padding:1px;
	margin: 0;
	text-align:center;
	width: 100%;
}

.linea {
  border-top: 1px solid salmon;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
}

/*.slides {
	text-align: center;
	max-width: 98%;
}

.slides li a {
	text-align: center;
	max-width: 98%;
}*/

.infohab {
	background: #fefefe;
	border: 1px solid orangered;
	height: 57vh;
	width: 98%;
	margin: 1%;
}

.imghab {
	background-size: cover;
	height: 50vh;
	margin: 5px;
	width: 98%;
}

.info1 {
	background: #DEB887;
	border: 	1px solid darkorange;
	height: 64%;
	float: right;
	margin-right: 12%;
	margin-top: 0.8%;
	padding: 20px;
	width: 35%;
}

.info2 {
	background: #DEB887;
	border: 	1px solid darkorange;
	height: 64%;
	margin-left: 12%;
	margin-top: 0.8%;
	padding: 20px;
	width: 35%;
}

.info3 {
	background: #DEB887;
	border: 	1px solid darkorange;
	height: 64%;
	float: right;
	margin-right: 12%;
	margin-top: 0.8%;
	padding: 20px;
	width: 35%;
}

.info4 {
	background: #DEB887;
	border: 	1px solid darkorange;
	height: 64%;
	margin-left: 12%;
	margin-top: 0.8%;
	padding: 20px;
	width: 35%;
}

.secundario1 {
	background: #ffffff; /* color de fondo */
	border: 2px solid lightblue; /* borde de la seccion */
	height: 95%;
	margin-left: 6%; /* margen entre etiquetas */
	margin-top: 0.8%;
	max-width: 45%; /* maximo tamaño para las pantallas */
	text-align: center;
/*	padding: 0.1em; /* espacio entre el contenido del elemento y su borde */*/
	
}

.secundario2 {
	background: #ffffff; /* color de fondo */
	border: 2px solid lightblue; /* borde de la seccion */
	display: flex;
	float: right;
	height: 95%;
	margin-right: 5%;
	margin-top: 0.8%;
	width: 45%; /* maximo tamaño para las pantallas */
}

.secundario3 {
	background: #ffffff; /* color de fondo */
	border: 2px solid lightblue; /* borde de la seccion */
	height: 95%;
	margin-left: 6%; /* margen entre etiquetas */
	margin-top: 0.8%;
	max-width: 45%; /* maximo tamaño para las pantallas */
	text-align: center;
/*	padding: 0.1em; /* espacio entre el contenido del elemento y su borde */*/
	
}

.secundario4 {
	background: #ffffff; /* color de fondo */
	border: 2px solid lightblue; /* borde de la seccion */
	display: flex;
	float: right;
	height: 95%;
	margin-right: 5%;
	margin-top: 0.8%;
	width: 45%; /* maximo tamaño para las pantallas */
}

.detail {
/*	background: #000;*/
	display: inline-flex;
	justify-content: space-between;
	height: 50px;
	margin-left: 15%;
	margin-top: 20px;
	width: 300px;
}

.detail a {
	background: #c8994d;
	font-size: 20px;
	height: 35px;
	margin-top: 10px;
	padding: 5px;
}

.precionoche {
	background: #DEB887;
	color: #000000;
	margin-top: 10px;
	width: 150px;
}

/*.vistainfotxt {
	background: #212121;
	margin: 2%;
	margin-left: 2%;
	max-width: 35%;
	padding: 1%;
	vertical-align: top;
}*/

.vistainfotxttitulo {
	background: #212121;
	color: #c8994d;
	font-size: 2em;
	margin: 2%;
	max-width: 55%;
}

.vistainfotxtia {
	background: #212121;
	color: #ffffff;
	font: "Chalet";
	font-size: 1.5em;
	margin-left: 2%;
	max-width: 95%;
	padding: 2%%;
	text-align: left;
}

.vistainfotxtia a {
	color: #c8994d;
}

.semifooter {
	background: #111111;
	max-width: 100%;
}

.semifooterseguimos {
	background: #212121;
	color: #fffffa;
	text-align: center;
	font-size: 180%;
	
}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 125%;
	}
	section#bienvenida {
		font-size: 80%;
		max-height: 43vh;
		min-height: 43vh;
	}
	section#contenedor-ini {
		display: block;
		height: 245vh;
	}
	/*section#map {
		max-height: 60vh;
		min-height: 60vh;
		width: 100%;
	}*/
	section#secundario {
		max-height: 33vh;
		min-height: 33vh;
		max-width: 90%;
		min-width: 90%;
	}
	article#contmap {
		display: block;
		max-height: 75vh;
		min-height: 75vh;
		max-width: 90%;
		min-width: 90%;
	}
	div#mapa {
		margin-left: 40px;
		max-width: 100%;
	}
	.infohab {
		align-items: center;
		display: block;
		height: 120vw;
		width: 95%;
	}
	.info1 {
		float: none;
		height: 49%;
		margin-left: 10px;
		width: 95%;
	}
	.secundario1 {
		height: 49%;
		margin-left: 5px;
		max-width: 95%;
	}
	.info2 {
		float: none;
		height: 49%;
		margin-left: 10px;
		width: 95%;
	}
	.secundario2 {
		float: none;
		height: 49%;
		margin-left: 5px;
		width: 95%;
	}
	.info3 {
		float: none;
		height: 49%;
		margin-left: 10px;
		width: 95%;
	}
	.secundario3 {
		height: 49%;
		margin-left: 5px;
		max-width: 95%;
	}
	.info4 {
		float: none;
		height: 49%;
		margin-left: 10px;
		width: 95%;
	}
	.secundario4 {
		float: none;
		height: 49%;
		margin-left: 5px;
		width: 95%;
	}
	.imghab {
		height: 95%;
		margin: 2px;
		width: 95%;
	}
	.detail{
		margin-left: 5px;
		margin-top: 2px;
		width: 98%;
	}
	.precionoche {
		text-align: center;
		width: 70%;
	}
	.precionoche h2 {
		height: 1.5em;
	}
	.vistainfotxttitulo {
		background: #212121;
		color: #c8994d;
		font-size: 2em;
		margin: 2%;
		max-width: 75%;
	}

	.vistainfotxtia {
		background: #212121;
		color: #ffffff;
		font: "Chalet";
		font-size: 1.5em;
		margin-left: 2%;
		max-width: 95%;
		padding: 2%%;
		text-align: left;
	}

	.vistainfotxtia a {
		color: #c8994d;
	}

	.semifooter {
		background: #111111;
		max-width: 100%;
	}

	.semifooterseguimos {
		background: #212121;
		color: #fffffa;
		text-align: center;
		font-size: 180%;
	}
}