/*
REGLAS PARA TRABAJAR CON CSS

1.- Primero se definen los estilos para ETIQUETAS html, por ejemplo:  header, footer, div, a, p, etc.

2.- Despuès se definen los estilos para IDENTIFICADORES (id), los id's son elementos unicos en html, en el css se declaran con el simbolo de # ejemplo:  #nombre-id{estilos} y en el html se llaman mediante el atributo id, ejemplo <div id="publicidad"></div>

3.- Al final se definen los estilos para las CLASES (class), las clases son elementos que se pueden repetir 'n' veces en html, en el css se declaran con el simbolo de . ejemplo: .nombre-clase{estilos} y en el html se llaman mediante el atributo class, ejemplo <div class="bode-logos"></div>

4.- Todos los estilos aparecen conforme van apareciendo en la dispocicion del html, teniendo en cuenta la prioridad anterior, es decir, primero etiquetas html, luego id's y al final clases.

5.- los atributos se declaran de la siguiente forma: { atributo1: valor1;atributo2: valor2;....;atributoN: valorN; }

6.- Todos los atributos se ordenan alfabeticamente, por ejemplo si tengo width, color, display, entonce el orden seria: primero color, lego display y al final width.

7.- Si tenemos estilos para el comodin *, o para las etiquetas html y/o body, estos estilos son los primeros en definirse.

8.- En el body debemos declarar un tamaño de fuente global.

9.- Si tenemos estilos para resetear elementos html, estos iran antes de cualquier estilo.

*/
* {
	border: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
	margin: 0;
	padding: 0;
}

article,figcaption,figure,footer,header,hgroup,nav,section, aside {
	display: block;
}

/* estilos del sitio */



/* 16px = 12pt = 100% = 1em */

body{
	background: #212121;
	max-width: 100%;
	
}

section#principal {
	background: ##FFDEAD; /* color de fondo */
	max-width: 100%; /* maximo tamaño para las pantallas */

}

section#slider {
	background: #ffffff;
	height: 400px;
}

section#bienvenida {
	background: #FFDEAD;
	height: 40vh;
	max-width: 100%;
	text-align: center;
}

section#contenedor-ini {
	background: #ffffff;
	height: 2138px;
	max-width: 100%;
	overflow: hidden;
	position: static;
}

h1 {
	color: #c8994d; /* color de letras */
	font-size: 200%;
	text-align: center; /* centra el texto */
	text-shadow: 5px 5px 10px rgba(0, 5, 55, 0.5); /* sombra de la letra */
}

h2 {
	vertical-align: middle;
}

h3 {
	text-align: left;
}

h4 {
	color: #808080; /* color de letras */
	text-align: center; /* centra el texto */
}

div.detail a {
	color: #ffffff;
}

div.detail a:hover {
	background: #fff;
	color: #c8994d;
}

section#map {
	background: #212121;
	max-height: 57vh;
	min-height: 57vh;
	padding: 2%;
	width: 100%;
}

section#secundario {
	background: #001100; /* color de fondo */
	/*border-radius: 5em; /* curva de esquinas */
	display: inline-block; /* La propiedad display nos permite definir como será mostrado un cierto elemento HTML */
	margin: 0px auto;
	margin-left: 7%; /* margen entre etiquetas */
	height: 200px;
	max-width: 75%; /* maximo tamaño para las pantallas */
	padding: 0.1%; /* espacio entre el contenido del elemento y su borde */
}

div#mapa {
	background: #cacad0;
	float: right;
	height: 20em;
	margin-right: 10%;
	max-width: 50%;
	padding: 1%;
	vertical-align: top;
}

article#contmap {
	background: #111111;
	height: 700px;
	padding: 5px;
	margin: 1.5%;
	max-height: 100vh;
	max-width: 99%;
	min-height: 100vh;
}

div#foot {
	background: #000000;
	border-top:1px solid #f88;
	color: #fff;
	font-size:11px;
	padding:0px;
	text-align:center;
	width: 100%;
}

div#foot a {
	color: #c8994d;
	text-decoration: none;
}

footer {
	background: #000000;
	border-top:1px solid #f88;
	color: #fff;
	font-size:12px;
	padding:1px;
	margin: 0;
	text-align:center;
	width: 100%;
}

/*.slides {
	text-align: center;
	max-width: 98%;
}

.slides li a {
	text-align: center;
	max-width: 98%;
}*/

.infohab1 {
	display: block;
	background: #8B4513;
	height: 60vh;
	margin: 0.5%;
	max-width: 99%;
	vertical-align: top;
}

.infohab2 {
	background: #8B4513;
	height: 60vh;
	margin: 0.5%;
	max-width: 99%;
	vertical-align: top;
}

.infohab3 {
	background: #8B4513;
	height: 60vh;
	margin: 0.5%;
	max-width: 99%;
	vertical-align: top;
}

.infohab4 {
	background: #8B4513;
	height: 60vh;
	margin: 0.5%;
	max-width: 99%;
	vertical-align: top;
}


.secundario1 {
	background: #ffffff; /* color de fondo */
	margin-left: 6%; /* margen entre etiquetas */
	max-width: 45%; /* maximo tamaño para las pantallas */
	text-align: center;
	padding: 0.1em; /* espacio entre el contenido del elemento y su borde */
	vertical-align: top;
}

.secundario1 img {
	max-height: 50%;
	max-width: 100%;
	min-height: 50%;
	min-width: 90%;
}

.secundario2 img {
	max-height: 50%;
	max-width: 100%;
	min-height: 50%;
	min-width: 90%;
}

.secundario3 img {
	max-height: 50%;
	max-width: 100%;
	min-height: 50%;
	min-width: 90%;
}

.secundario4 img {
	max-height: 50%;
	max-width: 100%;
	min-height: 50%;
	min-width: 90%;
}

.info1 {
	background: #DEB887;
	float: right;
	margin-right: 14%;
	max-width: 35%;
	padding: 2%;
	position: static;
}

.info2 {
	background: #F0FFFF;
	margin-left: 14%;
	max-width: 35%;
	padding: 2%;
	position: static;
}

.info3 {
	background: #DEB887;
	float: right;
	margin-right: 14%;
	max-width: 35%;
	padding: 2%;
	position: static;
}

.info4 {
	background: #F0FFFF;
	margin-left: 14%;
	max-width: 35%;
	padding: 2%;
	position: static;
}

.secundario2 {
	background: #ffffff;
	float: right;
	margin-right: 6%;
	max-width: 45%;
	padding: 0.1%;
	text-align: center;
}

.secundario3 {
	background: #ffffff; /* color de fondo */
	margin-left: 6%; /* margen entre etiquetas */
	max-width: 45%; /* maximo tamaño para las pantallas */
	text-align: center;
	padding: 0.1em; /* espacio entre el contenido del elemento y su borde */
}

.secundario4 {
	background: #ffffff;
	float: right;
	margin-right: 6%;
	max-width: 45%;
	padding: 0.1%;
	text-align: center;
}

.detail {
	background: #c8994d;
	color: #fff;
	font-size: 20px;
	float: left;
	margin-left: 14%;
	margin-right: 5%;
	margin-top: 9%;
	padding: 1%;
	text-align: center;
	vertical-align: middle;
}

.precionoche {
	background: #c0c0c0;
	color: #000000;
	margin-left: 15%;
	margin-right: 10%;
	margin-top: 9%;
	text-align: center;
	vertical-align: ;
}

.divvistainformaciontxt {
	background: #212121;
	margin: 2%;
	margin-left: 2%;
	max-width: 35%;
	padding: 1%;
	vertical-align: top;
}

.divvistainformaciontxttitulo {
	background: #212121;
	color: #c8994d;
	font-size: 120%;
	margin: 2%;
	max-width: 50%;
}

.divvistainformaciontxtia {
	background: #212121;
	color: #ffffff;
	font: "Chalet";
	margin-left: 2%;
	max-width: 95%;
	padding: 2%%;
	text-align: left;
}

.divvistainformaciontxtia a {
	color: #c8994d;
}

.semifooter {
	background: #111111;
	max-width: 100%;
}

.semifooterseguimos {
	background: #212121;
	color: #fffffa;
	text-align: center;
	font-size: 140%;
	
}

@media screen and (max-width: 600px) {
	h2 {
		font-size: 125%;
	}
	section#bienvenida {
		font-size: 80%;
		max-height: 40%;
		min-height: 40%;
	}
	section#contenedor-ini {
		display: block;
		height: 2388px;
	}
	section#map {
		height: 120vh;
	}
	article#contmap {
		display: block;
	}
	div#mapa {
		max-width: 100%;
	}
	.infohab1 {
		display: block;
		height: 60vh;
	}
	.info1 {
		float: none;
		max-width: 90%;
		margin-left: 50px;
	}
	.secundario1 {
		margin-left: 50px;
		max-width: 75%;
	}
	.infohab2 {
		display: block;
		height: 80vh;
	}
	.info2 {
		max-width: 80%;
		margin-left: 40px;
	}
	.secundario2 {
		float: none;
		margin-left: 40px;
		max-width: 80%;
	}
	.infohab3 {
		display: block;
		height: 80vh;
	}
	.info3 {
		float: none;
		max-width: 90%;
		margin-left: 50px;
	}
	.secundario3 {
		margin-left: 50px;
		max-width: 75%;
	}
	.infohab4 {
		display: block;
		height: 80vh;
	}
	.info4 {
		max-width: 80%;
		margin-left: 40px;
	}
	.secundario4 {
		float: none;
		margin-left: 40px;
		max-width: 80%;
	}
}