@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?31334535');
  src: url('../font/fontello.eot?31334535#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?31334535') format('woff2'),
       url('../font/fontello.woff?31334535') format('woff'),
       url('../font/fontello.ttf?31334535') format('truetype'),
       url('../font/fontello.svg?31334535#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31334535#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-glass:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-signal:before { content: '\e809'; } /* '' */
.icon-flight:before { content: '\e80a'; } /* '' */
.icon-road:before { content: '\e80b'; } /* '' */
.icon-basket:before { content: '\e80c'; } /* '' */
.icon-plane:before { content: '\e80d'; } /* '' */
.icon-belowground-rail:before { content: '\e80e'; } /* '' */
.icon-twitter-1:before { content: '\e80f'; } /* '' */
.icon-youtube-1:before { content: '\e810'; } /* '' */
.icon-gmail:before { content: '\e811'; } /* '' */
.icon-airport:before { content: '\e812'; } /* '' */
.icon-call:before { content: '\e813'; } /* '' */
.icon-flight-1:before { content: '\e814'; } /* '' */
.icon-upload:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-forward:before { content: '\e817'; } /* '' */
.icon-folder:before { content: '\e818'; } /* '' */
.icon-folder-open:before { content: '\e819'; } /* '' */
.icon-plus-1:before { content: '\e81a'; } /* '' */
.icon-plus-circled:before { content: '\e81b'; } /* '' */
.icon-plus-squared:before { content: '\e81c'; } /* '' */
.icon-minus-1:before { content: '\e81d'; } /* '' */
.icon-minus-circled:before { content: '\e81e'; } /* '' */
.icon-minus-squared:before { content: '\e81f'; } /* '' */
.icon-attach:before { content: '\e820'; } /* '' */
.icon-tag:before { content: '\e821'; } /* '' */
.icon-location:before { content: '\e822'; } /* '' */
.icon-map:before { content: '\e823'; } /* '' */
.icon-direction:before { content: '\e824'; } /* '' */
.icon-trash:before { content: '\e825'; } /* '' */
.icon-phone-1:before { content: '\e826'; } /* '' */
.icon-adjust:before { content: '\e827'; } /* '' */
.icon-light-up:before { content: '\e828'; } /* '' */
.icon-lamp:before { content: '\e829'; } /* '' */
.icon-right-open-big:before { content: '\e82a'; } /* '' */
.icon-left-open-big:before { content: '\e82b'; } /* '' */
.icon-down-open-big:before { content: '\e82c'; } /* '' */
.icon-up-open-mini:before { content: '\e82d'; } /* '' */
.icon-right-open-mini:before { content: '\e82e'; } /* '' */
.icon-left-open-mini:before { content: '\e82f'; } /* '' */
.icon-down-open-mini:before { content: '\e830'; } /* '' */
.icon-up-open:before { content: '\e831'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-right-open:before { content: '\e833'; } /* '' */
.icon-left-open:before { content: '\e834'; } /* '' */
.icon-down-open:before { content: '\e835'; } /* '' */
.icon-arrow-combo:before { content: '\e836'; } /* '' */
.icon-left-dir:before { content: '\e837'; } /* '' */
.icon-right-dir:before { content: '\e838'; } /* '' */
.icon-mobile-1:before { content: '\e839'; } /* '' */
.icon-mail-1:before { content: '\e83a'; } /* '' */
.icon-heart:before { content: '\e83b'; } /* '' */
.icon-heart-filled:before { content: '\e83c'; } /* '' */
.icon-th-list:before { content: '\e83d'; } /* '' */
.icon-th-list-outline:before { content: '\e83e'; } /* '' */
.icon-th-large:before { content: '\e83f'; } /* '' */
.icon-th-large-outline:before { content: '\e840'; } /* '' */
.icon-th:before { content: '\e841'; } /* '' */
.icon-th-outline:before { content: '\e842'; } /* '' */
.icon-eq-outline:before { content: '\e843'; } /* '' */
.icon-eq:before { content: '\e844'; } /* '' */
.icon-home-outline:before { content: '\e845'; } /* '' */
.icon-home-1:before { content: '\e846'; } /* '' */
.icon-tag-1:before { content: '\e847'; } /* '' */
.icon-pen:before { content: '\e848'; } /* '' */
.icon-pencil:before { content: '\e849'; } /* '' */
.icon-location-outline:before { content: '\e84a'; } /* '' */
.icon-location-1:before { content: '\e84b'; } /* '' */
.icon-search:before { content: '\e84c'; } /* '' */
.icon-plus-circled-1:before { content: '\e84d'; } /* '' */
.icon-lock:before { content: '\e84e'; } /* '' */
.icon-lock-open:before { content: '\e84f'; } /* '' */
.icon-bookmark:before { content: '\e850'; } /* '' */
.icon-thumbs-down:before { content: '\e851'; } /* '' */
.icon-comment:before { content: '\e852'; } /* '' */
.icon-ccw:before { content: '\e853'; } /* '' */
.icon-shuffle:before { content: '\e854'; } /* '' */
.icon-arrows-cw:before { content: '\e855'; } /* '' */
.icon-cloud:before { content: '\e856'; } /* '' */
.icon-leaf:before { content: '\e857'; } /* '' */
.icon-floppy:before { content: '\e858'; } /* '' */
.icon-user:before { content: '\e859'; } /* '' */
.icon-users:before { content: '\e85a'; } /* '' */
.icon-user-add:before { content: '\e85b'; } /* '' */
.icon-traffic-cone:before { content: '\e85c'; } /* '' */
.icon-users-1:before { content: '\e85d'; } /* '' */
.icon-wifi-1:before { content: '\e85e'; } /* '' */
.icon-eject-alt:before { content: '\e85f'; } /* '' */
.icon-pencil-neg:before { content: '\e860'; } /* '' */
.icon-pencil-1:before { content: '\e861'; } /* '' */
.icon-right-open-1:before { content: '\e862'; } /* '' */
.icon-left-open-1:before { content: '\e863'; } /* '' */
.icon-down-open-1:before { content: '\e864'; } /* '' */
.icon-up-open-1:before { content: '\e865'; } /* '' */
.icon-right-dir-1:before { content: '\e866'; } /* '' */
.icon-left-dir-1:before { content: '\e867'; } /* '' */
.icon-up-dir:before { content: '\e868'; } /* '' */
.icon-down-dir:before { content: '\e869'; } /* '' */
.icon-down-big:before { content: '\e86a'; } /* '' */
.icon-left-big:before { content: '\e86b'; } /* '' */
.icon-right-big:before { content: '\e86c'; } /* '' */
.icon-up-big:before { content: '\e86d'; } /* '' */
.icon-right-hand:before { content: '\e86e'; } /* '' */
.icon-left-hand:before { content: '\e86f'; } /* '' */
.icon-up-hand:before { content: '\e870'; } /* '' */
.icon-down-hand:before { content: '\e871'; } /* '' */
.icon-to-start-alt:before { content: '\e872'; } /* '' */
.icon-fast-fw:before { content: '\e873'; } /* '' */
.icon-fast-bw:before { content: '\e874'; } /* '' */
.icon-play:before { content: '\e875'; } /* '' */
.icon-play-circled2:before { content: '\e876'; } /* '' */
.icon-stop:before { content: '\e877'; } /* '' */
.icon-pause:before { content: '\e878'; } /* '' */
.icon-to-end:before { content: '\e879'; } /* '' */
.icon-to-end-alt:before { content: '\e87a'; } /* '' */
.icon-to-start:before { content: '\e87b'; } /* '' */
.icon-adjust-1:before { content: '\e87c'; } /* '' */
.icon-asterisk:before { content: '\e87d'; } /* '' */
.icon-code:before { content: '\e87e'; } /* '' */
.icon-attention:before { content: '\e87f'; } /* '' */
.icon-mail-2:before { content: '\e880'; } /* '' */
.icon-video:before { content: '\e881'; } /* '' */
.icon-menu-1:before { content: '\e882'; } /* '' */
.icon-cancel-squared:before { content: '\e883'; } /* '' */
.icon-cancel-circled:before { content: '\e884'; } /* '' */
.icon-cancel:before { content: '\e885'; } /* '' */
.icon-reply-1:before { content: '\e886'; } /* '' */
.icon-reply-all-1:before { content: '\e887'; } /* '' */
.icon-forward-1:before { content: '\e888'; } /* '' */
.icon-down-bold:before { content: '\e889'; } /* '' */
.icon-left-bold:before { content: '\e88a'; } /* '' */
.icon-right-bold:before { content: '\e88b'; } /* '' */
.icon-up-bold:before { content: '\e88c'; } /* '' */
.icon-down-thin:before { content: '\e88d'; } /* '' */
.icon-left-thin:before { content: '\e88e'; } /* '' */
.icon-right-thin:before { content: '\e88f'; } /* '' */
.icon-up-thin:before { content: '\e890'; } /* '' */
.icon-shuffle-1:before { content: '\e891'; } /* '' */
.icon-monitor:before { content: '\e892'; } /* '' */
.icon-trophy:before { content: '\e893'; } /* '' */
.icon-fast-backward:before { content: '\e894'; } /* '' */
.icon-fast-forward:before { content: '\e895'; } /* '' */
.icon-to-start-1:before { content: '\e896'; } /* '' */
.icon-to-end-1:before { content: '\e897'; } /* '' */
.icon-record:before { content: '\e898'; } /* '' */
.icon-flash:before { content: '\e899'; } /* '' */
.icon-cloud-thunder:before { content: '\e89a'; } /* '' */
.icon-cloud-1:before { content: '\e89b'; } /* '' */
.icon-briefcase:before { content: '\e89c'; } /* '' */
.icon-suitcase:before { content: '\e89d'; } /* '' */
.icon-dot:before { content: '\e89e'; } /* '' */
.icon-dot-2:before { content: '\e89f'; } /* '' */
.icon-dot-3:before { content: '\e8a0'; } /* '' */
.icon-infinity:before { content: '\e8a1'; } /* '' */
.icon-chart-pie-1:before { content: '\e8a2'; } /* '' */
.icon-key:before { content: '\e8a3'; } /* '' */
.icon-database:before { content: '\e8a4'; } /* '' */
.icon-air:before { content: '\e8a5'; } /* '' */
.icon-user-delete:before { content: '\e8a6'; } /* '' */
.icon-user-delete-outline:before { content: '\e8a7'; } /* '' */
.icon-user-add-1:before { content: '\e8a8'; } /* '' */
.icon-user-add-outline:before { content: '\e8a9'; } /* '' */
.icon-users-outline:before { content: '\e8aa'; } /* '' */
.icon-user-1:before { content: '\e8ab'; } /* '' */
.icon-user-outline:before { content: '\e8ac'; } /* '' */
.icon-reply-outline:before { content: '\e8ad'; } /* '' */
.icon-reply-2:before { content: '\e8ae'; } /* '' */
.icon-forward-outline:before { content: '\e8af'; } /* '' */
.icon-forward-2:before { content: '\e8b0'; } /* '' */
.icon-code-outline:before { content: '\e8b1'; } /* '' */
.icon-code-1:before { content: '\e8b2'; } /* '' */
.icon-map-2:before { content: '\e8b3'; } /* '' */
.icon-warning:before { content: '\e8b4'; } /* '' */
.icon-warning-empty:before { content: '\e8b5'; } /* '' */
.icon-attention-filled:before { content: '\e8b6'; } /* '' */
.icon-attention-1:before { content: '\e8b7'; } /* '' */
.icon-phone-outline:before { content: '\e8b8'; } /* '' */
.icon-phone-2:before { content: '\e8b9'; } /* '' */
.icon-menu-outline:before { content: '\e8ba'; } /* '' */
.icon-menu-2:before { content: '\e8bb'; } /* '' */
.icon-record-1:before { content: '\e8bc'; } /* '' */
.icon-record-outline:before { content: '\e8bd'; } /* '' */
.icon-stop-1:before { content: '\e8be'; } /* '' */
.icon-stop-outline:before { content: '\e8bf'; } /* '' */
.icon-tablet:before { content: '\e8c0'; } /* '' */
.icon-mobile-2:before { content: '\e8c1'; } /* '' */
.icon-contrast:before { content: '\e8c2'; } /* '' */
.icon-certificate-outline:before { content: '\e8c3'; } /* '' */
.icon-cog:before { content: '\e8c4'; } /* '' */
.icon-resize-full:before { content: '\e8c5'; } /* '' */
.icon-resize-full-alt:before { content: '\e8c6'; } /* '' */
.icon-resize-small:before { content: '\e8c7'; } /* '' */
.icon-resize-small-alt:before { content: '\e8c8'; } /* '' */
.icon-resize-vertical:before { content: '\e8c9'; } /* '' */
.icon-resize-horizontal:before { content: '\e8ca'; } /* '' */
.icon-move:before { content: '\e8cb'; } /* '' */
.icon-equalizer:before { content: '\e8cc'; } /* '' */
.icon-aperture:before { content: '\e8cd'; } /* '' */
.icon-aperture-alt:before { content: '\e8ce'; } /* '' */
.icon-hash:before { content: '\e8cf'; } /* '' */
.icon-home-2:before { content: '\e8d0'; } /* '' */
.icon-trash-1:before { content: '\e8d1'; } /* '' */
.icon-wrench:before { content: '\e8d2'; } /* '' */
.icon-tag-2:before { content: '\e8d3'; } /* '' */
.icon-signal-1:before { content: '\e8d4'; } /* '' */
.icon-bus-1:before { content: '\e8d5'; } /* '' */
.icon-fire-station:before { content: '\e8d6'; } /* '' */
.icon-fuel:before { content: '\e8d7'; } /* '' */
.icon-monument:before { content: '\e8d8'; } /* '' */
.icon-lodging:before { content: '\e8d9'; } /* '' */
.icon-campsite:before { content: '\e8da'; } /* '' */
.icon-cemetery:before { content: '\e8db'; } /* '' */
.icon-commerical-building:before { content: '\e8dc'; } /* '' */
.icon-fast-food:before { content: '\e8dd'; } /* '' */
.icon-warehouse:before { content: '\e8de'; } /* '' */
.icon-tree-1:before { content: '\e8df'; } /* '' */
.icon-plancast:before { content: '\e8e0'; } /* '' */
.icon-email:before { content: '\e8e1'; } /* '' */
.icon-mail-3:before { content: '\e8e2'; } /* '' */
.icon-location-2:before { content: '\e8e3'; } /* '' */
.icon-cog-1:before { content: '\e8e4'; } /* '' */
.icon-mail-4:before { content: '\e8e5'; } /* '' */
.icon-user-2:before { content: '\e8e6'; } /* '' */
.icon-video-1:before { content: '\e8e7'; } /* '' */
.icon-picture:before { content: '\e8e8'; } /* '' */
.icon-th-list-1:before { content: '\e8e9'; } /* '' */
.icon-block:before { content: '\e8ea'; } /* '' */
.icon-left-open-2:before { content: '\e8eb'; } /* '' */
.icon-right-open-2:before { content: '\e8ec'; } /* '' */
.icon-search-1:before { content: '\e8ed'; } /* '' */
.icon-cancel-1:before { content: '\e8ee'; } /* '' */
.icon-cog-2:before { content: '\e8ef'; } /* '' */
.icon-erase:before { content: '\e8f0'; } /* '' */
.icon-camera-alt:before { content: '\e8f1'; } /* '' */
.icon-camera:before { content: '\e8f2'; } /* '' */
.icon-picture-1:before { content: '\e8f3'; } /* '' */
.icon-link:before { content: '\e8f4'; } /* '' */
.icon-pin:before { content: '\e8f5'; } /* '' */
.icon-tag-3:before { content: '\e8f6'; } /* '' */
.icon-tags:before { content: '\e8f7'; } /* '' */
.icon-trash-empty:before { content: '\e8f8'; } /* '' */
.icon-doc:before { content: '\e8f9'; } /* '' */
.icon-wrench-1:before { content: '\e8fa'; } /* '' */
.icon-cog-alt:before { content: '\e8fb'; } /* '' */
.icon-cog-3:before { content: '\e8fc'; } /* '' */
.icon-globe:before { content: '\e8fd'; } /* '' */
.icon-briefcase-1:before { content: '\e8fe'; } /* '' */
.icon-scissors:before { content: '\e8ff'; } /* '' */
.icon-off:before { content: '\e900'; } /* '' */
.icon-gift:before { content: '\e901'; } /* '' */
.icon-box-1:before { content: '\e902'; } /* '' */
.icon-rss-1:before { content: '\e903'; } /* '' */
.icon-folder-1:before { content: '\e904'; } /* '' */
.icon-docs-1:before { content: '\e905'; } /* '' */
.icon-bag:before { content: '\e906'; } /* '' */
.icon-progress-0:before { content: '\e907'; } /* '' */
.icon-progress-1:before { content: '\e908'; } /* '' */
.icon-progress-2:before { content: '\e909'; } /* '' */
.icon-progress-3:before { content: '\e90a'; } /* '' */
.icon-target:before { content: '\e90b'; } /* '' */
.icon-signal-2:before { content: '\e90c'; } /* '' */
.icon-battery:before { content: '\e90d'; } /* '' */
.icon-brush:before { content: '\e90e'; } /* '' */
.icon-mouse:before { content: '\e90f'; } /* '' */
.icon-water:before { content: '\e910'; } /* '' */
.icon-droplet:before { content: '\e911'; } /* '' */
.icon-videocam:before { content: '\e912'; } /* '' */
.icon-bookmark-1:before { content: '\e913'; } /* '' */
.icon-tags-1:before { content: '\e914'; } /* '' */
.icon-mic:before { content: '\e915'; } /* '' */
.icon-mic-outline:before { content: '\e916'; } /* '' */
.icon-stopwatch:before { content: '\e917'; } /* '' */
.icon-lightbulb:before { content: '\e918'; } /* '' */
.icon-wristwatch:before { content: '\e919'; } /* '' */
.icon-clock:before { content: '\e91a'; } /* '' */
.icon-headphones:before { content: '\e91b'; } /* '' */
.icon-block-outline:before { content: '\e91c'; } /* '' */
.icon-block-1:before { content: '\e91d'; } /* '' */
.icon-shuffle-2:before { content: '\e91e'; } /* '' */
.icon-laptop-1:before { content: '\e91f'; } /* '' */
.icon-desktop-1:before { content: '\e920'; } /* '' */
.icon-plug:before { content: '\e921'; } /* '' */
.icon-waves:before { content: '\e922'; } /* '' */
.icon-rain:before { content: '\e923'; } /* '' */
.icon-cloud-sun:before { content: '\e924'; } /* '' */
.icon-drizzle:before { content: '\e925'; } /* '' */
.icon-snow:before { content: '\e926'; } /* '' */
.icon-cloud-flash:before { content: '\e927'; } /* '' */
.icon-cloud-wind:before { content: '\e928'; } /* '' */
.icon-wind:before { content: '\e929'; } /* '' */
.icon-sort-alphabet:before { content: '\e92a'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e92b'; } /* '' */
.icon-at-1:before { content: '\e92c'; } /* '' */
.icon-flash-1:before { content: '\e92d'; } /* '' */
.icon-glass-1:before { content: '\e92e'; } /* '' */
.icon-doc-new:before { content: '\e92f'; } /* '' */
.icon-right-open-3:before { content: '\e930'; } /* '' */
.icon-left-open-3:before { content: '\e931'; } /* '' */
.icon-font:before { content: '\e932'; } /* '' */
.icon-bold:before { content: '\e933'; } /* '' */
.icon-italic:before { content: '\e934'; } /* '' */
.icon-adjust-2:before { content: '\e935'; } /* '' */
.icon-tint:before { content: '\e936'; } /* '' */
.icon-check:before { content: '\e937'; } /* '' */
.icon-check-empty-1:before { content: '\e938'; } /* '' */
.icon-accessibility:before { content: '\e939'; } /* '' */
.icon-guidedog:before { content: '\e93a'; } /* '' */
.icon-universal-access:before { content: '\e93b'; } /* '' */
.icon-child-1:before { content: '\e93c'; } /* '' */
.icon-adult:before { content: '\e93d'; } /* '' */
.icon-person:before { content: '\e93e'; } /* '' */
.icon-hearing-impaired:before { content: '\e93f'; } /* '' */
.icon-glasses:before { content: '\e940'; } /* '' */
.icon-user-3:before { content: '\e941'; } /* '' */
.icon-lock-1:before { content: '\e942'; } /* '' */
.icon-eye:before { content: '\e943'; } /* '' */
.icon-tag-4:before { content: '\e944'; } /* '' */
.icon-cup:before { content: '\e945'; } /* '' */
.icon-trash-3:before { content: '\e946'; } /* '' */
.icon-globe-1:before { content: '\e947'; } /* '' */
.icon-cd:before { content: '\e948'; } /* '' */
.icon-diamond:before { content: '\e949'; } /* '' */
.icon-cloud-2:before { content: '\e94a'; } /* '' */
.icon-terminal:before { content: '\e94b'; } /* '' */
.icon-ok:before { content: '\e94c'; } /* '' */
.icon-doc-1:before { content: '\e94d'; } /* '' */
.icon-note:before { content: '\e94e'; } /* '' */
.icon-database-1:before { content: '\e94f'; } /* '' */
.icon-graduation-cap:before { content: '\e950'; } /* '' */
.icon-fire:before { content: '\e951'; } /* '' */
.icon-tv:before { content: '\e952'; } /* '' */
.icon-archive:before { content: '\e953'; } /* '' */
.icon-folder-2:before { content: '\e954'; } /* '' */
.icon-coverflow:before { content: '\f00c'; } /* '' */
.icon-coverflow-empty:before { content: '\f00d'; } /* '' */
.icon-hash-1:before { content: '\f029'; } /* '' */
.icon-monitor-1:before { content: '\f032'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-suitcase-1:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-plus-squared-1:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-spoon:before { content: '\f1b1'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-trash-2:before { content: '\f1f8'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-genderless:before { content: '\f22d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hourglass-1:before { content: '\f251'; } /* '' */
.icon-hourglass-2:before { content: '\f252'; } /* '' */
.icon-hourglass-3:before { content: '\f253'; } /* '' */
.icon-hourglass:before { content: '\f254'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map-1:before { content: '\f279'; } /* '' */
.icon-credit-card-alt:before { content: '\f283'; } /* '' */
.icon-modx:before { content: '\f285'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
.icon-podcast:before { content: '\f2ce'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
