section#principal-hab {
	display: block;
	max-height: 300vh;
	max-width: 100%;
	min-height: 300vh;
}

section#contenedor-hab {
	background: #000000;
	max-height: 162vh;
	max-width: 100%;
	min-height: 162vh;
}