section#principal-hab {
	display: block;
	max-height: 300vh;
	max-width: 100%;
	min-height: 300vh;
}

section#contenedor-hab {
	background: #000000;
	max-height: 200vh;
	max-width: 100%;
	min-height: 200vh;
}

@media screen and (max-width: 700px) {
	section#contenedor-hab {
		width: 700px
	}
}