

section#contenedor-reser {
	display: block;
	background: #faca99;
	height: 90vh;
	max-width: 100%;
}

@media screen and (max-width: 600px) {
	section#contenedor-reser {
		display: block;
		background: #faca99;
		height: 65vh;
		max-width: 100%;
	}
}