body {
	margin: 0;
}

section#carrucel {
	background-image: url(../img/texture-background.jpg);
	margin: 1%;
	max-width: 98%;
	height: 50vh;
	padding-top: 1px;
}

.carrusel {
	align-items: center;
	display: flex;
	height: 50vh;
}

.carrusel-items {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 30px 0px;
}

.carrusel-item {
	height: 200px;
	max-width: 300px;
	min-width: 300px;
	outline: 2px solid black;
}

.carrusel-item img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.carrusel-item:hover {
	transform: scale(1.2);
}

@media screen and (max-width: 700px) {
	section#carrucel {
		height: 40vh;
	}
	.carrusel {
		align-items: center;
		height: 40vh;
	}
	.carrusel-item {
		height: 60%;
		max-width: 200px;
		min-width: 200px;
	}
	.carrusel-item img {
		height: 60%;
	}
}