* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #d4d4d4;
	font-family: time roman;

}

.wrap {
	margin: 30px auto;
	max-width: 90%;
	width: 800px;
}

ul.tabs {
	background: #363636;
	display: flex;
	list-style: none;
	width: 100%;
}

ul.tabs li {
	width: 18%;
}

ul.tabs li a {
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 20px 0;
	text-decoration: none;
	text-align: center;
}

.active {
	background: #0984cc;
}

ul.tabs li a .tab-text {
	margin-left: 8px;
}

.contenedor {
	background: #f8eb98;
	width: 100%;
}

.contenedor article {
	padding: 30px;
}

.contenedor article p {
	padding-top: -200px;
	text-align: justify;
}

@media screen and (max-width: 700px){
	ul.tabs li {
		flex-basis: 0;
		flex-grow: 1;
		width: none;
	}
}

h1 {
	background: #fc595c;
	color: #fff;
	font-family: "Gill-sans", "Gill-sans MT", "Myriad Pro", "DejaVu sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 3em;
	height: 100px;
	left: -450px;
	margin: auto;
	padding: 20px;
	position: relative;
	text-align: center;
	top: 80px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	vertical-align: top;
	width: 320px;
}

@media screen and (max-width: 700px){
	ul.tabs li a {
		padding: 15px 0;
	}
	ul.tabs li a.tab-test {
		display: none
	}
	.contenedor article {
		padding: 20px;
	}
}